<mat-toolbar color="primary">
  <div>
    <button mat-icon-button fxHide.gt-xs (click)="setToggel()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">FITNESS</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" fxHide.xs class="navigation-item">
      <li *ngIf="!authValidation">
        <a routerLink="/signup">SignUp</a>
      </li>
      <li *ngIf="!authValidation">
        <a routerLink="/login">Login</a>
      </li>
      <li>
        <a routerLink="/training" *ngIf="authValidation">Training</a>
      </li>
      <li>
        <a routerLink="/signup" *ngIf="authValidation" (click)="logOut()">Logout</a>
      </li>
    </ul>

  </div>
</mat-toolbar>